<footer class="w-full text-center py-10 mb-8">
  <span
    class="bg-gradient-to-tr from-zinc-500 via-gray-400 to-neutral-700 bg-clip-text text-transparent font-bold text-2xl"
  >
    Diseñado y desarrollado por Alezkcrank y Anttonoff
  </span>
</footer>
